div.box{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.red-box{
    background-color: red;
}
.green-box{
    background-color: green;
}
.blue-box{
    background-color: blue;
}

.active{
    background-color: lightblue;
}

.type{
    background-color: burlywood;
}