<p>third works!</p>

<div 
[class.red-box]="boxType == 1"
[class.green-box]="boxType == 2"
[class.blue-box]="boxType == 3"
class="box"></div>

<hr/>

<ul>
    <li [class.active]='category == 1'> List 1 </li>
    <li [class.active]='category == 2'> List 2 </li>
    <li [class.active]='category == 3'> List 3 </li>
    <li [class.active]='category == 4'> List 4 </li>
    <li [class.active]='category == 5'> List 5 </li>
</ul>

<hr/>

<button [class.type]="type == 1"> 1 </button>
<button [class.type]="type == 2"> 2 </button>
<button [class.type]="type == 3"> 3 </button>
<button [class.type]="type == 4"> 4 </button>
<button [class.type]="type == 5"> 5 </button>

