<p>mobile-list works!</p>

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th style="width: 100px;">Sr. No</th>
        <th style="width: 100px;">Id</th>
        <th>Model</th>
        <th>Company</th>
        <th style="width: 100px;">Price</th>
        <th style="width: 150px;">Actions</th>
      </tr>
    </thead>
    <tbody>
        <!-- index is managed by angular internally-->
      <tr *ngFor="let mobile of mobiles; let i = index">
        <td>{{i + 1}}</td>
        <td>{{mobile['id']}}</td>
        <td>{{mobile['model']}}</td>
        <td>{{mobile['company']}}</td>
        <td>{{mobile['price']}}</td>
        <td>
            <button (click)="onEdit(mobile)" class="btn-success btn-sm"> Edit </button>
            <button (click)="onDelete(mobile, i)" style="margin: 3px;" class="btn-danger btn-sm"> Delete </button>
        </td>
      </tr>
    </tbody>
  </table>