<div class="container">

  <!-- <a routerLink="/product-list" class="btn btn-link"> Product List</a>
  <a routerLink="/product-add" class="btn btn-link"> Product Add</a> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-product-add></app-product-add> -->

  <button style="margin: 10px;" (click)="goToPage(1)" class="btn btn-primary"> Product List </button>
  <button style="margin: 10px;" (click)="goToPage(2)" class="btn btn-primary"> Add Product </button>
  <router-outlet></router-outlet>
</div>