<p>first works!</p>

<div 
[class.redColor]="color == 'red'"
[class.greenColor]="color == 'green'" 
[class.blueColor]="color == 'blue'"
class="box">

</div>

<button (click)="color = 'red'" class="btn btn-primary"> Red </button>
<button (click)="color = 'green'" class="btn btn-primary"> Green </button>
<button (click)="color = 'blue'" class="btn btn-primary"> Blue </button>