div.box{
    width: 200px;
    height: 200px;
    margin: 10px;
}
button{
    margin-left: 5px;    
}

.redColor{
    background-color: red;
}
.greenColor{
    background-color: green;
}
.blueColor{
    background-color: blue;
}