<p>second works!</p>

<div> Color : {{color}}</div>
<div [style.color]="color"> Color : {{color}}</div>

<div 
[style.width]="size"
[style.height]="size"
[style.background-color]="color" class="box">
</div>
