<p>rating works!</p>


<img *ngIf="rating >= 1" src="assets/star.png" alt="">
<img *ngIf="rating >= 2" src="assets/star.png" alt="">
<img *ngIf="rating >= 3" src="assets/star.png" alt="">
<img *ngIf="rating >= 4" src="assets/star.png" alt="">
<img *ngIf="rating >= 5" src="assets/star.png" alt="">

