<div class="row">
    <div class="col-md-3">
      <div class="info info-orange">
        <div class="header">Users</div>
        <span>{{users.length}}</span>
        <img src="assets/user.png" alt="">
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="info info-green">
        <div class="header">Products</div>
        <span>{{products.length}}</span>
        <img src="assets/product.png" alt="">
      </div>
    </div>
  
  
    <div class="col-md-3">
      <div class="info info-brown">
        <div class="header">Orders</div>
        <span>{{orders.length}}</span>
        <img src="assets/shopping_cart.png" alt="">
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="info info-blue">
        <div class="header">Active Orders</div>
        <span>0</span>
        <img src="assets/shopping_cart.png" alt="">
      </div>
    </div>
  </div>