<p>employee-list works!</p>


<div> Id : {{employee["id"]}}</div>
<div> Name : {{employee["name"]}}</div>
<div> Department : {{employee["department"]}}</div>
<div> Role : {{employee["role"]}}</div>
<div> Salary : {{employee["salary"]}}</div>

<hr />

<div> Id : {{employees[0]["id"]}}</div>
<div> Name : {{employees[0]["name"]}}</div>
<div> Department : {{employees[0]["department"]}}</div>
<div> Role : {{employees[0]["role"]}}</div>
<div> Salary : {{employees[0]["salary"]}}</div>

<div> Id : {{employees[1]["id"]}}</div>
<div> Name : {{employees[1]["name"]}}</div>
<div> Department : {{employees[1]["department"]}}</div>
<div> Role : {{employees[1]["role"]}}</div>
<div> Salary : {{employees[1]["salary"]}}</div>

<hr/>
<hr/>

<!-- For loop in html (Positional Directives) -->
<!-- employees is array in ts file and employee is variable we decided -->
<div class="employee" *ngFor="let employee of employees">
    <div> Id : {{employee["id"]}}</div>
    <div> Name : {{employee["name"]}}</div>
    <div> Department : {{employee["department"]}}</div>
    <div> Role : {{employee["role"]}}</div>
    <div> Salary : {{employee["salary"]}}</div>
</div>
