

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 style="margin: 20px;"> Registration Form</h3>
            <div class="form myClass">
                <div class="form-group">
                    <label for="firstName"> First Name : </label>
                    <input [(ngModel)]="firstName" id="firstName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastName"> Last Name : </label>
                    <input [(ngModel)]="lastName" id="lastName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="city"> City : </label>
                    <input [(ngModel)]="city" id="city" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="city"> Address : </label>
                    <textarea [(ngModel)]="address" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="phone"> Phone : </label>
                    <input [(ngModel)]="phone" id="phone" type="phone" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email"> Email : </label>
                    <input [(ngModel)]="email" id="email" type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password"> Password : </label>
                    <input [(ngModel)]="password" id="password" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <button (click)="onSignup()" class="btn btn-success"> Signup </button>
                    <button (click)="onCancel()" style="margin-left: 10px;" class="btn btn-danger"> Cancel </button>
                </div>
            </div>
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
