<p>fourth works!</p>

<button (click)="myClick()"> Click here </button>

<hr/>

<div
[class.red-box]="boxType == 1"
[class.green-box]="boxType == 2"
[class.blue-box]="boxType == 3"
 class="box">
</div>

<button (click)="changeColorRed()"> red </button>
<button (click)="changeColorGreen()"> green </button>
<button (click)="changeColorBlue()"> blue </button>