<p>first works!</p>

<div
[class.red-box]="boxType == 1"
[class.green-box]="boxType == 2"
[class.blue-box]="boxType == 3"
 class="box green-box"></div>

<button (click)="redColor()"> red </button>
<button (click)="greenColor()"> green </button>
<button (click)="blueColor()"> blue </button>

