<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form myClass">
                <div class="form-group">
                    <label for="email"> Email : </label>
                    <input [(ngModel)]="email" id="email" type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password"> Password : </label>
                    <input [(ngModel)]="password" id="password" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <button (click)="onLogin()" class="btn btn-success"> Login </button>
                    <button (click)="onCancel()" style="margin-left: 5px;" class="btn btn-danger"> Cancel </button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>