<p>first works!</p>
<div> First Name : {{firstName}} </div>
<div> Last Name : {{lastName}} </div>

<hr />
<div class="person">
    <div> Name : {{person.name}} </div>
    <div> Age : {{person['age']}} </div>
    <div> Phone : {{person['phone']}} </div>
</div>
